__pycache__/
*.py[cod]
*$py.class

*.so

.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
,installed.cfg
*.egg
MANIFEST

*.manifest
*.spec

